.App {
  text-align: center;
}

.horizontalStretch {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
}

.verticalStretch {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  margin-top: auto;
  margin-bottom: auto;
  height: 300px;
}

.import {
  display: flex;
  flex-direction: row;
}

.importAs {
  margin-bottom: 3rem;
}

.options {
  z-index: 1000;
  border: 1px solid black;
  border-radius: 0.5rem;
  padding: 0.2rem;
  position: fixed;
  top: 1rem;
  background-color: rgba(255, 255, 255, 0.8);
}

.filename, .importLabel {
  display: flex;
  align-items: center;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.filename {
  font-family: monospace;
}

.help p,
.help h2 {
  margin: 0.5rem;
  width: 30vw;
}

kbd {
  border: 1px solid black;
  border-radius: 0.2rem;
  background-color: lightgray;
}

.copyright {
  position: fixed;
  bottom: 0;
  right: 0;
  background-color: lightgray
}

.butterfly {
  margin-top: 3rem;
}

svg text {
  font: Times;
}