.import {
  display: flex;
  flex-direction: row;
  margin-bottom: 1rem;
}

.options {
  z-index: 1000;
  border: 1px solid black;
  border-radius: 0.5rem;
  padding: 0.5rem;
  position: fixed;
  top: 1rem;
  background-color: white;
}

.filename {
  font-family: monospace;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  vertical-align: middle;
}

.help p,
.help h2 {
  margin: 1rem;
  width: 30vw;
}
